@import "admin";

.applicant-details-page {
  padding: 0 2rem;

  .welcome-message {
    .applicant-name{
      font-size: 1.7rem;
      display: flex;

      .back {
        margin-right: 1rem;
      }
    }
  }

  .applicant-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .details-row {
      margin-bottom: 1rem;
      width: 100%;
      padding: 1.5rem;
      background: black;
      border-radius: 5px;
      background: #f7f7f7;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      gap: 1.5rem;

      .icon {
        height: 3rem;
        width: auto;
      }

      .view {
        padding: 0.2rem 1.5rem;
        text-transform: capitalize;
        font-size: 0.8rem;
        border-radius: 4px;
        border: 1px solid $secondary-color;
        color: $secondary-color;
        cursor: pointer;
      }
    }

    @include minWidth($breakpoint-tablet) {
      display: grid;
      padding-right: 5rem;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;

      .details-row {
        margin-bottom: 0;
      }
    }
  }

  .approval-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .approval-steps {
      display: flex;
  
      .approval-step {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: max-content;
        text-align: center;
  
        .circle {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          border: 1px solid $secondary-color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          color: $secondary-color;
  
          .check {
            display: none;
          }
          .step-number {
            display: block;
          }
        }
  
        &.checked {
          .circle {
            background: $secondary-color;
            
            .check {
              display: block;
            }
            .step-number {
              display: none;
            }
          }
        }

        .note {
          cursor: pointer;
        }
      }
  
      .connector {
        width: 5rem;
        border: 1px solid $secondary-color;
        height: min-content;
        margin-top: 2.2rem;
      }
    }

    .disburse-btn {
      margin: 2rem 0 0 0;
    }
  }

  @include minWidth($breakpoint-tablet) {
    .connector {
      width: 10rem
    }

    .approval-row {
      .disburse-btn {
        margin: 0 0 0 1rem;
      }
    }
  }

  @include minWidth($breakpoint-desktop) {
    padding: 0;

    .approval-row {
      .disburse-btn {
        margin: 0 0 0 3rem;
      }
    }
  }
}

[data-page=credit-check] {
  .split-row {
    width: 100%;

    .left {
      padding: 0 1rem;
      margin: 0;
    }

    .left, .right {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .credit-check-sources {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    
      .credit-check-source {
        text-align: center;
        padding: 1rem 1.5rem 2rem;
        border-bottom: 5px solid $secondary-color;
        margin: 0 2rem 1rem 0;
        background: white;
        border-radius: 4px;
  
        .issues {
          text-align: left;
        }
  
        .logo {
          width: 10rem;
          height: 5rem;
        }
  
        .source-details {
  
        }
      }
    }
    
    .credit-score {
      color: #4b1f51;
      font-size: 7rem;
    }
  }
}

.credit-score-table {
  .table-header,.table-entry {
    grid-template-columns: auto 1fr auto;
  }

  .cell {
    .indicator-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .indicator {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;

        &.performing {
          background: $secondary-color;
        }

        &.non-performing {
          background: $primary-color;
        }

        &.paid-off {
          background: orange;
        }

        &.bad {
          background: red;
        }
      }
    }
  }
}

#note-modal {
  .mask-contents {
    background: #F7F7F7;
    > div > div {
      margin: 1.5rem 0;
    }

    .applicant-name {
      text-align: center;
    }
    .shaded-box {
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid $secondary-color;
      background: #D0EFD9;
      text-align: center;
    }

    .text-box {
      background: white;
      padding: 1.2rem 1.8rem;

      div {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid  #707070;
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      button {
        width: 100%;
        text-transform: uppercase;
        font-size: 1.1rem;
      }
    }

    @include minWidth($breakpoint-desktop) {
      padding: 2rem 4rem;
      width: 55%;
    }
  }
}