@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  transition: 0.1s ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 90%;
}

body {
  color: $font-color; 
  background: #FBFBFB;
  line-height: 1.6;
}

.header-text {
  text-transform: uppercase;

  &.lowcase {
    text-transform: capitalize;
  }
}

%text-format {
  // padding: 0.5rem 0 1rem 0;
  letter-spacing: -0.44px;
}

.small-text {
  font-size: 0.9rem;
  // text-transform: uppercase;
  letter-spacing: 0.48px;
}

.large-text {
  @extend %text-format;
  font-size: 2rem;
  font-weight: 600;

  @include minWidth($breakpoint-tablet) {
    font-size: 2.5rem;
  }
}

.medium-text {
  @extend %text-format;
  font-size: 1.5rem;
}

.sub-text {
  @extend %text-format;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.accented-text {
  color: $secondary-color;
}

main {
  // @include generalWidth();
  padding: 5.5rem 0 5rem 0;
}

#loan-calculator-section {
  .loan-calculator-header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    .fill-space {
      width: 100%;
      flex: 1;
      height: 0.1px;
      border: 1px solid #484848;
      margin: 0 1rem;
    }

    .loan-nav-buttons {
      display: flex;

      .loan-nav-button {
        height: 3rem;
        width: 3rem;
        background: black;
        color: white;
        margin: 0 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $secondary-color;
        }
      }
    }
  }

  
  .investment-calculator {
    background: #FFF2E3;
  }
  
  .loan-calculator {
    background: #E3ECDB;
  }

  .investment-calculator,
  .loan-calculator {
    padding: 4rem 2rem;

    .action-row {
      display: flex;
      justify-content: flex-end;
      .cta {
        margin-left: 0.5rem;
      }
    }
  }
}

#banner-container {
  .banner {
    height: 25rem;
    width: 100%;
    background-image: url(../images/banner_bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include minWidth($breakpoint-tablet) {
      background-size: 110% 110%;
    }
  }

  .banner-text {
    padding: 1.5rem;
    text-align: center;
    letter-spacing: 0.9px;
    color: $white;
    background: rgba(16, 17, 20, 0.5);
    font-family: $emphasis-font;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include minWidth($breakpoint-tablet) {
      padding: 1.5rem 4rem;
    }

    @include minWidth($breakpoint-desktop) {
      justify-content: flex-start;
      padding: 1.5rem 10rem;
    }

  }
}

.section-wrapper {
  section {
    @include generalWidth();
    margin: 0 auto !important;
    padding: 2rem 0;
  
    div.section-container,
    &.section-container {
      padding: 2rem;
  
      @include minWidth($breakpoint-tablet) {
        padding: 4rem;
      }
  
      @include minWidth($breakpoint-desktop) {
        padding: 4rem 8rem;
      }
    }
  
    &.top {
      padding: 0;
    }

    .section-header {
      text-align: center;
    }
  }
}

div.split-row,
section.split-row {
  display: flex;
  align-items: center;
  flex-direction: column;

  .row-half {
    padding: 1.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;

    &.master,
    &.wider-master {
      width: 100%;
      flex: 2;
    }

    .row-contents {
      display: flex;
      flex-direction: column;
      max-width: 26rem;

      .action-button {
        padding: 1.2rem 0;
      }
    }
  }

  .left, .right {
    align-items: center;
    justify-content: center;
  }

  @include minWidth($breakpoint-tablet) {
    flex-direction: row;
    
    .left {
      order: 1;
    }

    .right {
      order: 2;
    }
    
    .row-half {
      padding: 0 1rem;
      width: 50%;
    }
  }
  
  @include minWidth($breakpoint-desktop) {
    margin: 0;

    .row-half {
      padding: 0 2rem;

      &.wider-master {
        flex: 3;
      }
    }
  }
}

.input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #00000029;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}

.select {
  color: inherit;
}

.btn {
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: $btn-grey;
  background: transparent;
  text-decoration: none;
  font-weight: bold;

  a {
    color: $white;
    text-decoration: none;
  }

  &.solid {
    text-align: center;
    background: $secondary-color;
    color: $white;

    &.primary {
      background: $primary-color;
    }
  }

  &.plain {
    color: $secondary-color;
    padding: 0.8rem 0;

    &.no-arrow {
      &::after {
        content: "";
        padding: 0;
      }
    }

    &::after {
      content: "->";
      padding-left: 1rem;
      color: $secondary-color;
    }
  }
  
  &:hover {
    color: $font-color
  }
}

.modal {
  display: none;
  z-index: 10000;
  overflow: scroll;

  &.visible {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(16, 17, 20, 0.8);
  }

  .mask {
    width: 100%;
    margin: 0 auto;
    height: max-content;
    position: relative;
    padding: 6rem 2rem 2rem 2rem;
  
    .mask-close {
      right: 3rem;
      top: 3rem;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
    }

    @include minWidth(760px) {
      padding: 10rem 0 0 0;
      padding: 6rem 4rem;

      .mask-close {
        right: 5rem;
      }
    }
  
    @include minWidth(1024px) {
      display: flex;
      // width: 50%;
      justify-content: center;
      padding: 6rem;

      .mask-close {
        right: 7rem;
      }
    }

    .mask-contents {
      background-color: white;
      border-radius: 4px;
      padding: 2rem;
    }
  }
}

.nav-item {
  img {
    height: 20px;
    width: 20px;

    &.reverse {
      transform: rotate(180deg);
    }
  }
}

// call to action buttons
button.cta {
  padding: 1.3rem 3rem;
  color: white;
  background-color: #51C272;
  text-align: center;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  height: max-content;
  cursor: pointer;

  &.secondary {
    background: #484848;
  }

  &.transparent {
    color: #464646;
    background: transparent;
  }
}

.input-container {
  position: relative;
  border-radius: 5px;

  label {
    position: absolute;
    top: 0.5rem;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #464646;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  div,
  select,
  textarea,
  input {
    width: 100%;
    padding: 2.1rem 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    background: white;
    
    &:focus {
      box-shadow: 0px 3px 15px 6px #00000010;
      outline: dotted #00000010;
      border-left: 5px solid $secondary-color;
      border-radius: 0 10px 10px 0;
    }
  }

  &.full-width {
    max-width: 100% !important;
  }

  &.shaded {
    background: #D0EFD9;
  }

  &.date {
    position: relative;

    input {
      padding-right: 3.5rem;
    }
    
    &::after {
      position: absolute;
      right: 2.5rem;
      top: 1rem;
      content: url(../images/calendar.svg);
      width: 0.8em;
      height: 0.5em;
      justify-self: flex-end;
    }
  }

  &.select {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "select";

    select,
    &:after {
      grid-area: select;
    }
    
    select {
      appearance: none;
      padding-right: 3.5rem;
    }
    
    &::after {
      content: "";
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      margin-right: 1rem;
      width: 0.8em;
      height: 0.5em;
      justify-self: flex-end;
      background: $secondary-color;
    }
  }
}

.card {
  width: 100%;
  min-width: 15rem;
  margin: 0 1rem 1rem 0;
  border-bottom: 5px solid $secondary-color;

  .image {
    width: auto;
    min-height: 15rem;
    border: 1px solid $secondary-color;
  }

  .overlay {
    text-align: center;
    padding: 1rem 1rem;
    background: #E9E9E9;
  }

  @include minWidth($breakpoint-tablet) {
    width: 10rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.table-page-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1rem;

  span {
    margin: 0 0.3rem;
  }
}

.table-pages {
  display: flex;
  margin-top: 1rem;

  .table-page {
    height: 2rem;
    width: 2rem;
    border: 1px solid #E8E9EC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 0.3rem;
    cursor: pointer;

    &.selected,
    &:hover {
      background: $secondary-color;
      color: white;
      cursor: pointer;
    }
  }
}

.table {
  background: white;
  border-radius: 5px;
  padding: 0.5rem;
  max-height: 50rem;
  overflow-y: scroll;
  display: table;

  .table-entry,.table-header {
    display: table-row;

    .cell {
      display: table-cell;
      padding: 0.8rem 1rem;

      .action-checkbox {
        height: 1.3rem;
        width: 1.3rem;
        padding: 0.2rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;

        .checkbox-inside {
          width: 100%;
          height: 100%;
          border-radius: 3px;
        }
        
        &.checked {
          .checkbox-inside {
            background: black;
          }
        }
      }
    }
  }

  .table-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }

  .table-body {
    display: table-row-group;

    .table-entry {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      border-bottom: 1px solid #B8B8B8;
      font-size: 0.9rem;
  
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &.history-table {
    padding: 0;
    width: 100%;

    .table-header {
      background: #D0EFD9;
    }

    .table-entry {
      .cell {
        vertical-align: middle;
        border-bottom: 1px solid #F7F7F7;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  button {
    margin-bottom: 1rem;
  }
   
  .input-container {
    flex: 1;
    margin: 0 1rem 1rem 0;
    max-width: 15rem;
    min-width: 10rem;
  }

  @include minWidth($breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.history-search-row {
  input {
    height: 4rem;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-right: 1rem;
    width: 100%;
    margin-bottom: 1rem;

    @include minWidth($breakpoint-tablet) {
      margin-bottom: 0;
      width: unset;
    }
  }
  .cta {
    padding: 1.4rem 3rem;
  }
}