@import "variables";

footer {
  background: #F7F7F7;
}

.footer-spacing {
  padding: 2.5rem 2rem;

  @include minWidth($breakpoint-tablet) {
    padding: 3rem 4rem;
  }

  @include minWidth($breakpoint-desktop) {
    padding: 3rem 10rem;
  }
}

.footer-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  padding: 0 !important;

  .main-footer {
    @extend .footer-spacing;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include minWidth($breakpoint-tablet) {
      flex-direction: row;

      .logo {
        flex: 2;
      }

      .footer-links-section {
        flex: 4;
      }
    }

    .logo {
      img {
        height: 5rem;
      }
    }

    .company-details {
      margin-top: 1rem;

      div {
        margin: 0.2rem 0;
      }
    }
    
    .footer-links-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: max-content;

      @include minWidth($breakpoint-tablet) {
        flex-direction: row;
      }

      .links-column-container {
        display: flex;
        flex: 1;
        width: 100%;

        .links-column {
          width: 25%;
          flex: 1;
          margin: 1.5rem 1rem 1.5rem 0;

          @include minWidth($breakpoint-tablet) {
            margin: 0 2rem;
          }

          &.master {
            flex: 2;
          }

          .link-row-header {
            color: #484848;
            padding: 0.3rem 0;

            span {
              color: $white;
            }
          }

          .link-row {
            font-size: 0.8rem;
            padding: 0.5rem 0;

            &:hover {
              font-size: 0.9rem;
              color: $secondary-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  
  .social-links-section {
    @extend .footer-spacing;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .social-links {
      display: flex;

      .social-link {
        padding: 0.5rem;

        img {
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;

          &:hover {
            height: 1.8rem;
            width: 1.8rem;
          }
        }
      }
    }
  }
}

.copyright-container {
  background: $secondary-color;
  color: $white;

  .copyright {
    @include generalWidth();
    color: white;
    margin: 0 auto;
    padding: 2rem;
    font-size: 0.8rem;
  
    @include minWidth($breakpoint-tablet) {
      padding: 1rem 4rem;
    }
  
    @include minWidth($breakpoint-desktop) {
      padding: 1rem 10rem;
    }
  }
}
