@import "header";
@import "footer";
@import "common";
@import "variables";

// #F0EFEF

.contact-row {
  display: flex;
  flex-direction: column;

  .contact-details,
  .contact-form {
    padding: 2rem;
  }

  .contact-details {
    flex: 1;

    .contact-description {
      line-height: 1.8rem;
    }

    .contact-info-wrapper {

      .contact-info {
        margin-top: 1rem;

        .contact-info-entry {
          border-bottom: 1px solid #DDDDDD;
          display: flex;
          padding: 1rem 0;
          text-align: center;
          align-items: center;

          .contact-icon {
            margin-right: 0.5rem;

            img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }

  .contact-form {
    flex: 2;

    form {
      .message {
        width: 100%;
        textarea {
          width: 100%;
        }
      }

      .contact-form-submit {
        float: right;
        padding: 1rem 3rem;
      }
    }
  }

  @include minWidth($breakpoint-tablet) {
    flex-direction: row;

    .contact-details,
    .contact-form {
      padding: unset;
    }

    .contact-details {
      margin-right: 2rem;
      padding: 5rem 2rem 5rem 6rem;  
    }

    .contact-form {
      padding: 5rem 2rem;
    }
  }
}

.map {
  padding: 0 !important;
}