@import "header";
@import "footer";
@import "variables";
@import "common";
@import "tabs";
@import "dashboard";

#investment-modal {
  .mask-contents {
    background: #F7F7F7;
    padding: 2rem 0;
    color: #4B1F51;

    .header,.action,.text {
      text-align: center;
      padding: 0 3rem;
    }
    
    .header {
      display: flex;
      align-items: center;
      justify-content: center;

      span.amount {
        margin: 0 1rem;
      }

      .change {
        cursor: pointer;
      }
    }

    .tabs {
      display: flex;
      width: 100%;

      .tab {
        flex: 1;
        padding: 1rem 2rem;
        background: #E9E9E9;
        border: 1px solid $secondary-color;
        text-align: center;
        &.selected {
          background: $secondary-color;
        }
      }
    }

    .action {
      margin-top: 1rem;
      .cta {
        padding: 1.3rem 8rem;
      }
    }

    .tabs-targets {
      padding: 1rem;
      background: white;
      border-radius: 5px;
      margin: 2rem 5rem;

      .tab-target {

        .table {
          padding: 0;

          &.card-table {
            .table-header,.table-entry {
              grid-template-columns: 1fr 2fr 2fr 1fr;
            }
          }
        }

        .tab-subheader {
          font-size: 0.8rem;
          text-transform: uppercase;
        }

        .tab-header {
          text-transform: uppercase;
          color: $secondary-color;
          margin: 0rem 0 1.1rem 0;
          font-weight: bold;
        }

        .bank-details {
          width: max-content;

          .bank-detail-entry {
            font-size: 0.9rem;
            padding: 0.5rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .type {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

.dashboard-contents {
  padding: 0 2rem 0 0;

  .product-banner {
    // max-height:10rem;
    height: 10rem;
    border: 1px solid blueviolet;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    background: #3AA65A;
    color: white;
  }

  .product-details-section {
    padding: 1rem 0;

    .header {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .body {
      padding: 1rem 1.5rem;
      background: #F7F7F7;
      border-radius: 5px;
    }

    .requirements-list {
      display: flex;
      flex-wrap: wrap;

      .requirement {
        width: 9rem;
        padding: 1.5rem;
        border-radius: 5px;
        border: 1px solid $primary-color;

        margin: 0 1rem 1rem 0;
        text-align: center;
        font-size: 0.9rem;
        cursor: pointer;

        .icon {
          width: 5rem;
          height: 5rem;
          color: $secondary-color;
          fill: white;
          
          .stroke {
            fill: $secondary-color;
          }
        }
        
        .text {
          border-top: 1px solid gray;
          padding-top: 1rem;
          margin-top: 1rem;
        }

        &:hover,
        &.selected {
          background: $secondary-color;
          color: white;
          border: none;

          .icon {
            color: white;
            .stroke {
              fill: white;
            }
          }

          .text {
            border-color: white;
          }
        }
      }
    }
  }
}

.application-contents {
  .right {
    width: 100%;
    margin-top: 2rem;

    @include  minWidth($breakpoint-tablet) {
      margin-top: 0;
    }
  }
  
  .split-row {
    align-items: flex-start;

    .left {
      margin-right: 2rem;
    }

    .right {
      flex: 1;
    }
  }

  .bank-table {
    .table-header,.table-entry {
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    }
  }

  .loan-table {
    .table-header,.table-entry {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  .card-table {
    .table-header,.table-entry {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }

  .loan-document-table {
    .table-header,.table-entry {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }

  .upload-document-table {
    .table-header,.table-entry {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}

.mask-contents {
  .icon {
    height: 10rem;
    width: 10rem;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    margin: 1rem auto;
  }

  .cta {
    margin-top: 2rem;
    padding: 1.3rem 5rem;
  }

  text-align: center;
}

[data-application-step] {
  display: none;

  &.selected {
    display: block;
    width: 100%;
  }
}
